:root{
  --nav-logo-color:#5f54b3;
  --navbar-text-color:white;
  --footer-text-color:white;
  --navbar-bg-color:black;
  --resp-navbar-bg-color: black ;
  --footer-bg-color:black;
}
*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

img.logo{
  background-color: var(--nav-logo-color);
}
body{
  background-color: white;
}
img {
  display: block;
}
/* NAVBAR */
nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 3em; */
  height: 48px;
  background-color: var(--navbar-bg-color);
  font-family: 'Poppins', sans-serif;
}

.logo{
  width: 35px;
  height: 35px;

  margin-left: 10px;
  /* border: 3px solid red; */
  position: absolute;
  left: 2px;
  /* color: var(--navbar-text-color); */
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.name{
  /* margin-left: 14px; */
  /* border: 3px solid blue; */
  position: absolute;
  left: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;

} 
.name a{ 
  list-style: none;
  text-decoration: none;
  text-decoration-color: none;
  color: var(--navbar-text-color);
}
.nav-links{
  /* border: 3px solid blue; */
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-around; 
  width: 45%;
}
.nav-links li{
  /* border: 3px solid green; */
  list-style: none;
}
.nav-links a{
  color: var(--navbar-text-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger{  
  margin-right: 12px;
  /* border: 3px solid green; */
  display: none;
  
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: var(--navbar-text-color);
  margin: 5px;
  transition: all 0.3s ease;
  
}
/*Content area*/
.content{
min-height: 550px;
text-align: center;
font-family: 'Poppins', sans-serif;
}
/* FOOTER */
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10em;
  background-color: var(--footer-bg-color);
  font-family: 'Poppins', sans-serif;
}

.footer-links{
  /* border: 3px solid blue;  */
  display: flex;
  justify-content: space-around; 
  width: 330px;
}

.footer-links li{
   /* border: 3px solid green;  */
  list-style: none;

}

.footer-links a{
  color: var(--footer-text-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

/*
INDIVIDUAL PAGES
*/

/* HOME */
.index-content{
  /* border: 3px solid yellow;  */
  padding:0 0 3em 0;
}

.about-headline{
  text-align: center;
  padding: .5em;
  /* font-family: 'Vidaloka', serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  border: 3px solid blue; 
}
.about-blurb{
  margin: auto;
  font-size:1.5em;
  border: 3px solid red; 
  width: 60%;
}
 /*.hero-div{ 
  border: 3px solid purple; 
} */

.hero-div > img {
  width: 100%;
  max-height: 400px
}

/* Monsters PAGE */
/* .monsters-content-wrapper{
  margin:0 0 3em 0;
} */
.monsters-content-wrapper > div {
  text-align: center;
}

.monsters-headline{
/* border: 3px solid grey;  */
padding: 5px;
font-size: 3em;
text-align: center;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
}
.monster-name{
  border: 3px solid black; 
  text-align: center;
  padding: .5em;
}
.monsters-wrapper{
  border: 3px solid purple; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width:90%;
  margin: 0 auto;
}
.monsters{
  margin:20px;
  /* height: 222px; */
  border: 3px solid green; 
  text-decoration: none;
  list-style: none;
}
.monster-image{
width: 100%;
}


/* PARALLAX */
/* layout */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
}

/* Parallax Styles */
.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 7px;
  perspective-origin: center;
  display: flex;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0px)scale(.75); 
}
 
 .midground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0)scale(.75); 
} 

  .foreground {
    margin-top: auto;
    margin-bottom: 20px;
    width: 100%;
    transform-origin: center;
    transform: translateZ(3px)scale(.65); 
  /* Uncomment the code below to see the difference the scale property makes! */
  /* transform: translateZ(3px); */
  /* transform: translateZ(0)  */
  }

@media screen and (max-width: 1024px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    width: 50%; 
    margin-right: 12px;
  }
}
@media screen and (max-width:768px){
body{
  overflow-x: hidden;
}
  .nav-links{
    /* border: 3px solid pink; */
    margin-right: 0px;
    position: absolute;
    right: 0px;
    /* height: 93.5vh;*/
    height: 4em; 
    top: 3em;
    width: 100vw;
    background-color:   var(--resp-navbar-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.8s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    position: absolute;
    right: 1em;

  }
}
.nav-active{
  transform: translateX(0%)
}

@keyframes navLinkFade{
  from{
opacity: 0;
transform:translateX(100vw);
  }
    to{
    opacity:1;
    transform: translateX(0px)
  }
}

.toggle .line-1{
transform: rotate(-45deg) translate(-5px, 6px)
}
.toggle .line-2{
  opacity: 0;
}
.toggle .line-3{
  transform: rotate(45deg) translate(-5px, -6px)
}


/* .monsters{
  margin: 0 0 1.5em;
} */